/* index.html */
/* Navbar */
.navbar-brand {
  transition: 1s;
  font-size: 50px;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
}
.navbar-brand:hover {
  transition: 1s;
  font-size: 53px;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(224, 224, 224, 0.158);
  border-style: outset;
  border-width: 1px;
  border-color: rgba(214, 214, 214, 0.178);
  border-radius: 10px;
}

/* Home section */
.img {
  height: 490px;
}
.container {
  margin-top: 70px;
}

/* .col-sm-4 {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
} */

/* post.html */
/* Article section */
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
}
.card-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.text {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

/* Comment section */
.comsection {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}
.card {
  margin: 10px;
}

.wrapper {
  padding-bottom: 90px;
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}
